Repository sigil-dev/sigil: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: rumdl {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

test(provider): verify interface supports multi-provider routing
  internal/provider/provider_test.go
Due: lint-go

feat(workspace): add workspace manager with routing and tool allowlists
  internal/agent/loop.go
  internal/agent/tools.go
  internal/agent/tools_test.go
  internal/workspace/manager.go
  internal/workspace/manager_test.go
  pkg/errors/errors.go
Due: lint-go

chore: turn off ui lint til we have a UI
  Taskfile.yaml
Due: lint-yaml

feat(identity): add identity resolver for multi-platform user lookup
  internal/identity/resolver.go
  internal/identity/resolver_test.go
Due: lint-go

feat(provider): add provider registry with routing, failover, and budgets
  internal/provider/registry.go
  internal/provider/registry_test.go
  pkg/errors/errors.go
Due: lint-go

chore: turn off ui lint til we have a UI for real this time
  Taskfile.yaml
Due: lint-yaml

feat(plugin): add channel router and pairing modes
  internal/plugin/channel.go
  internal/plugin/channel_test.go
  pkg/errors/errors.go
Due: lint-go

feat(provider): add built-in Anthropic provider
  go.mod
  go.sum
  internal/provider/anthropic/anthropic.go
  internal/provider/anthropic/anthropic_test.go
Due: lint-go

feat(provider): add built-in OpenAI provider
  go.mod
  go.sum
  internal/provider/openai/openai.go
  internal/provider/openai/openai_test.go
Due: lint-go

feat(provider): add built-in Google provider
  internal/provider/google/google.go
  internal/provider/google/google_test.go
Due: lint-go

feat(provider): add built-in OpenRouter provider (OpenAI-compatible)
  internal/provider/openrouter/openrouter.go
  internal/provider/openrouter/openrouter_test.go
Due: lint-go

fix(provider): address PR #12 review — system prompt, tool schema, error classification, health tracking
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/identity/resolver.go
  internal/identity/resolver_test.go
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/health.go
  internal/provider/health_test.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
Due: lint-go

fix: address PR #12 review round 2 — failover, validation, security hardening
  docs/plans/04-phase-4-platform-integration.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/identity/resolver.go
  internal/identity/resolver_test.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/provider/registry.go
  internal/workspace/manager.go
  internal/workspace/manager_test.go
  pkg/errors/errors.go
Due: lint-go, lint-markdown

fix: address PR #12 review round 3 — budget wiring, error propagation, failover docs
  docs/decisions/decision-log.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: lint-go, lint-markdown

fix: address PR #12 review round 4 — budget accounting, stale policy, personal WS, failover cap
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/session.go
  internal/agent/testhelper_test.go
  internal/provider/provider.go
  internal/provider/registry.go
  internal/provider/registry_test.go
  internal/workspace/manager.go
  internal/workspace/manager_test.go
Due: lint-go

fix: address PR #12 review round 5 — budget errors, persistence, tool order, docs
  docs/decisions/decision-log.md
  docs/design/05-workspace-system.md
  docs/plans/04-phase-4-platform-integration.md
  internal/agent/loop.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
Due: lint-go, lint-markdown

fix: address PR #12 review round 6 — capability namespace, pairing auth, tool loop, temperature
  docs/decisions/decision-log.md
  docs/design/03-security-model.md
  docs/design/08-agent-core.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/agent/tools_test.go
  internal/identity/resolver.go
  internal/identity/resolver_test.go
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/provider/provider.go
Due: lint-go, lint-markdown

fix: address PR #12 review round 7 — channel-level pairing, failover health
  docs/decisions/decision-log.md
  docs/design/04-channel-system.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/identity/resolver.go
  internal/identity/resolver_test.go
  internal/plugin/channel.go
  internal/plugin/channel_test.go
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/provider/provider.go
Due: lint-go, lint-markdown

fix: address PR #12 review round 8 — tool defs, workspace pairing, config schema, exclusion
  docs/decisions/decision-log.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/agent/tools_test.go
  internal/config/config.go
  internal/plugin/channel.go
  internal/plugin/channel_test.go
  internal/provider/provider.go
  internal/provider/registry.go
  internal/provider/registry_test.go
  sigil.yaml.example
Due: lint-go, lint-markdown

feat(cli): add Cobra CLI framework with start, status, and version commands
  cmd/sigil/main.go
  cmd/sigil/root.go
  cmd/sigil/root_test.go
  cmd/sigil/start.go
  cmd/sigil/status.go
  cmd/sigil/version.go
  go.mod
  go.sum
Due: lint-go

fix(build): scope gitignore binary pattern to repo root
  .gitignore
  api/proto/sigil/v1/.gitkeep
Due: none

feat(cli): add workspace, plugin, session, chat, and doctor commands
  cmd/sigil/chat.go
  cmd/sigil/commands_test.go
  cmd/sigil/doctor.go
  cmd/sigil/plugin.go
  cmd/sigil/root.go
  cmd/sigil/session.go
  cmd/sigil/workspace.go
Due: lint-go

feat(server): add HTTP server with huma+chi, health endpoint, OpenAPI spec
  go.mod
  go.sum
  internal/server/server.go
  internal/server/server_test.go
Due: lint-go

feat(server): add SSE streaming endpoint for real-time agent responses
  internal/server/server.go
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

feat(server): add REST API endpoints for workspaces, sessions, plugins, chat
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/server.go
  internal/server/services.go
Due: lint-go

feat(api): add OpenAPI 3.1 spec generator from Go types
  cmd/openapi-gen/.gitkeep
  cmd/openapi-gen/main.go
  cmd/openapi-gen/main_test.go
Due: lint-go

feat(cli): wire gateway subsystems into start command
  cmd/sigil/start.go
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
Due: lint-go

fix(cli): unify Viper config precedence and wire status health check
  cmd/sigil/root.go
  cmd/sigil/root_test.go
  cmd/sigil/start.go
  cmd/sigil/status.go
  docs/design/09-ui-and-cli.md
  internal/config/config.go
Due: lint-go, lint-markdown

fix(server): parse text_delta JSON, propagate context, relax SSE Accept
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

fix(server): wire stub stream handler in WireGateway
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
Due: lint-go

fix(server): complete plugin adapter fields and return empty arrays
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/plugin/lifecycle.go
  internal/plugin/lifecycle_test.go
  internal/plugin/manager.go
  internal/plugin/manager_test.go
Due: lint-go

feat(cli): implement workspace/plugin/session list commands with HTTP client
  cmd/sigil/client.go
  cmd/sigil/list_commands_test.go
  cmd/sigil/plugin.go
  cmd/sigil/root_test.go
  cmd/sigil/session.go
  cmd/sigil/status.go
  cmd/sigil/workspace.go
Due: lint-go

fix(server): register SSE route in OpenAPI spec and validate event JSON
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/server_test.go
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

fix(server): address PR #13 review feedback round 2
  docs/design/09-ui-and-cli.md
  docs/plans/05-phase-5-server-api.md
  docs/plans/07-phase-7-ui-distribution.md
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go, lint-markdown

docs(cli): reference Phase 6 and tracking bead in scope note
  docs/design/09-ui-and-cli.md
Due: lint-markdown

fix(server): address PR #13 review feedback round 3
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/services.go
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

refactor(cli): remove deferred command stubs to align with Phase 5 scope
  cmd/sigil/commands_test.go
  cmd/sigil/plugin.go
  cmd/sigil/session.go
  cmd/sigil/workspace.go
Due: lint-go

fix(server): address PR #13 review feedback round 4
  cmd/openapi-gen/main.go
  cmd/sigil/chat.go
  cmd/sigil/root.go
  internal/plugin/lifecycle.go
  internal/plugin/lifecycle_test.go
  internal/server/auth.go
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/server.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
