Repository sigil-dev/sigil: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: rumdl {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

docs: add security pipeline design and implementation plan
  docs/plans/2026-02-17-agent-loop-security-pipeline-design.md
  docs/plans/2026-02-17-agent-loop-security-pipeline.md
Due: lint-markdown

feat(security): add scanner error codes and origin type
  internal/provider/provider.go
  pkg/errors/errors.go
Due: lint-go

feat(security): add scanner package with regex-based rule engine
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

feat(config): add security scanner mode configuration
  internal/config/config.go
  internal/config/config_test.go
Due: lint-go

feat(security): add detection modes (block, flag, redact)
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
Due: lint-go

feat(agent): integrate security scanner into agent loop
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
Due: lint-go

docs: record scanner design decisions and update security model
  docs/decisions/decision-log.md
  docs/design/03-security-model.md
Due: lint-markdown

fix: address PR #17 review findings for security scanner
  docs/decisions/decision-log.md
  docs/design/03-security-model.md
  docs/plans/2026-02-17-agent-loop-security-pipeline-design.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools_test.go
  internal/config/config.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go, lint-markdown

fix: address PR #17 review findings for security scanner
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/security/scanner/scanner.go
Due: lint-go

fix(security): add output scan logging, rule validation, and post-normalize length check
  internal/agent/loop.go
  internal/security/scanner/scanner.go
Due: lint-go

refactor(security): extract scan helper, expand Unicode normalization, validate modes
  internal/agent/loop.go
  internal/security/scanner/scanner.go
Due: lint-go

fix(security): add comprehensive scanner tests, optimize normalize, clean up comments
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(security): expand injection patterns, fix content_too_large redact, update Origin doc
  internal/provider/provider.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(security): add ThreatInfo audit trail, document Match invariants, update D062 spec
  docs/decisions/decision-log.md
  internal/agent/loop.go
  internal/security/scanner/scanner.go
  internal/store/types.go
Due: lint-go, lint-markdown

fix(config): remove scanner import, rename AllowPermissiveInputMode, add env guard
  internal/config/config.go
  internal/config/config_test.go
Due: lint-go

fix(security): address PR #17 review findings across security pipeline
  api/openapi/spec.json
  cmd/openapi-gen/main.go
  cmd/sigil/init.go
  cmd/sigil/init_test.go
  docs/decisions/decision-log.md
  docs/design/03-security-model.md
  docs/plans/2026-02-17-agent-loop-security-pipeline-design.md
  docs/plans/2026-02-17-agent-loop-security-pipeline.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/sqlite/session.go
  internal/store/types.go
  pkg/errors/errors.go
  ui/src/lib/api/generated/schema.d.ts
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/onboarding.test.ts
Due: lint-go, lint-markdown

docs(decisions): clarify D062 scanner error handling categories
  docs/decisions/decision-log.md
Due: lint-markdown

fix(security): address all PR #17 review findings
  cmd/sigil/wire.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/config/config.go
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/openai/openai.go
  internal/provider/provider.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/sqlite/session.go
  internal/store/types.go
  pkg/errors/errors.go
  pkg/types/scannermode.go
Due: lint-go

fix(docs): correct Scanner interface return type from *ScanResult to ScanResult
  docs/plans/2026-02-17-agent-loop-security-pipeline-design.md
Due: lint-markdown

fix(security/scanner): clamp redact() span start to prevent out-of-bounds panic
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(agent): scan intermediate assistant text in tool loop before persist
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
Due: lint-go

refactor(config): strengthen ScannerConfig type safety with types.ScannerMode
  cmd/sigil/wire.go
  internal/agent/scanner_config.go
  internal/config/config.go
  internal/config/config_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(errors): remove dead CodeSecurityScannerBlocked error code
  internal/store/types.go
  pkg/errors/errors.go
Due: lint-go

feat(store): add validation methods and constructors to store types
  internal/provider/provider.go
  internal/security/scanner/scanner.go
  internal/store/types_test.go
  internal/store/types_validation.go
  pkg/types/scannermode.go
Due: lint-go

docs(config): add security scanner configuration documentation
  sigil.yaml.example
Due: none

feat(security): improve database connection string regex for URL-encoded passwords and IPv6 hosts
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

refactor(agent): remove duplicate phrase-based scanner from tools.go
  internal/agent/tools.go
  internal/agent/tools_test.go
Due: lint-go

fix(agent): improve error handling, logging, and audit in agent loop (sigil-7g5.231)
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
Due: lint-go

test(store/sqlite): add migration test for threat_info column (sigil-7g5.233)
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/sqlite/session_test.go
Due: lint-go

test(security/scanner): add known injection bypass tests and improve instruction_override pattern (sigil-7g5.234)
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(agent): truncate oversized tool results before re-scanning (sigil-7g5.184)
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
Due: lint-go

fix(agent): remove truncated comment lines in callLLM
  internal/agent/loop.go
Due: lint-go

fix(security): clarify Origin comment in scanner
  internal/security/scanner/scanner.go
Due: lint-go

fix(provider/openrouter): add origin tagging in convertMessages
  internal/provider/openrouter/openrouter.go
Due: lint-go

docs(plans): add missing security scanner error codes to design doc
  docs/plans/2026-02-17-agent-loop-security-pipeline-design.md
Due: lint-markdown

test(agent): add 5 security scanner coverage tests (sigil-7g5.217/221/222/223/220)
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config_test.go
Due: lint-go

docs: update D062 scanner error handling and tracking for tool result size caps
  docs/decisions/decision-log.md
  docs/design/03-security-model.md
Due: lint-markdown

fix(security): add 8 secret patterns, bound Slack regex, type-safe logAttrs (sigil-7g5.190/194/205/214)
  internal/agent/loop.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(security): add NewRule constructor, validate scanner config, consolidate defaults (sigil-7g5.180/182/200/202/208/210)
  cmd/sigil/wire.go
  internal/agent/scanner_config.go
  internal/agent/scanner_config_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

test(security): replace realistic test secrets with obviously fake patterns
  internal/security/scanner/scanner_test.go
Due: lint-go

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
