Repository sigil-dev/sigil: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
no_auto_install: true
pre-commit:
  parallel: true
  commands:
    license-headers:
      glob: "*.{go,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER not found"; exit 1
        fi
        command -v addlicense >/dev/null 2>&1 || go install github.com/google/addlicense@latest
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true
    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true
    lint-markdown:
      glob: "*.md"
      run: rumdl {staged_files}
    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}
    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    format-check:
      run: dprint check
commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

docs(decisions): add D048-D050 for PR #13 review decisions
  docs/decisions/decision-log.md
Due: lint-markdown

docs(decisions): add D051-D053 for PR #13 review round 5
  docs/decisions/decision-log.md
Due: lint-markdown

refactor(server): replace ErrNotFound sentinel with sigilerr error codes
  cmd/sigil/wire.go
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/services.go
  internal/server/sse.go
  pkg/errors/errors.go
Due: lint-go

docs(decisions): add D054-D056, update D050/D052 for PR #13 round 7
  CLAUDE.md
  docs/decisions/decision-log.md
Due: lint-markdown

fix(errors): add CodeServerNotImplemented and wrap initViper error per D056
  cmd/sigil/root.go
  cmd/sigil/wire.go
  pkg/errors/errors.go
Due: lint-go

fix(cli): surface parse/permission errors in config auto-discovery
  cmd/sigil/root.go
Due: lint-go

feat(cli): wire signal handling, plugin discovery, and provider registration
  cmd/sigil/start.go
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
Due: lint-go

refactor(cli): extract provider factory map for testability
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
Due: lint-go

docs(decisions): add D057 startup graceful degradation and D058 provider factory map
  docs/decisions/decision-log.md
Due: lint-markdown

feat(cli): wire signal handling, plugin discovery, and provider registration (#14)
  cmd/sigil/start.go
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  docs/decisions/decision-log.md
Due: lint-go, lint-markdown

feat(cli): implement chat SSE client and doctor diagnostics
  cmd/sigil/chat.go
  cmd/sigil/chat_test.go
  cmd/sigil/client.go
  cmd/sigil/doctor.go
  cmd/sigil/doctor_test.go
Due: lint-go

feat(server): add auth/ABAC middleware with bearer token validation
  cmd/sigil/wire.go
  internal/config/config.go
  internal/server/auth.go
  internal/server/auth_test.go
  internal/server/server.go
  pkg/errors/errors.go
Due: lint-go

feat(channel,provider): add pair_on_request/pair_with_code modes and USD budget enforcement
  internal/plugin/channel.go
  internal/plugin/channel_test.go
  internal/provider/registry.go
  internal/provider/registry_test.go
Due: lint-go

refactor(errors): move channel error codes to pkg/errors and add D059
  docs/decisions/decision-log.md
  internal/plugin/channel.go
  internal/plugin/channel_test.go
  pkg/errors/errors.go
Due: lint-go, lint-markdown

feat: complete Phase 5 remaining tasks (chat, doctor, auth) (#15)
  cmd/sigil/chat.go
  cmd/sigil/chat_test.go
  cmd/sigil/client.go
  cmd/sigil/doctor.go
  cmd/sigil/doctor_test.go
  cmd/sigil/wire.go
  docs/decisions/decision-log.md
  internal/config/config.go
  internal/plugin/channel.go
  internal/plugin/channel_test.go
  internal/provider/registry.go
  internal/provider/registry_test.go
  internal/server/auth.go
  internal/server/auth_test.go
  internal/server/server.go
  pkg/errors/errors.go
Due: lint-go, lint-markdown

feat(ui): initialize SvelteKit project with OpenAPI client generation
  api/openapi/spec.json
  ui/.gitignore
  ui/.gitkeep
  ui/package-lock.json
  ui/package.json
  ui/src/app.html
  ui/src/lib/api/client.ts
  ui/src/lib/api/generated/schema.d.ts
  ui/src/routes/+layout.svelte
  ui/src/routes/+page.svelte
  ui/src/vite-env.d.ts
  ui/svelte.config.js
  ui/tsconfig.json
  ui/vite.config.ts
Due: none

build: add GoReleaser config with CGo, Cosign signing, dual SBOM, Homebrew, Docker
  .goreleaser.yaml
Due: lint-yaml

feat(ui): add chat interface with streaming SSE responses
  ui/src/lib/components/ChatInput.svelte
  ui/src/lib/components/ChatMessage.svelte
  ui/src/lib/stores/chat.svelte.ts
  ui/src/routes/chat/+page.svelte
  ui/src/routes/chat/+page.ts
Due: none

feat(ui): add workspace, plugin, and settings pages
  ui/src/routes/plugins/+page.svelte
  ui/src/routes/settings/+page.svelte
  ui/src/routes/workspaces/+page.svelte
  ui/src/routes/workspaces/[id]/+page.svelte
Due: none

feat(ui): add Tauri desktop wrapper with sidecar and system tray
  ui/src-tauri/.gitignore
  ui/src-tauri/Cargo.toml
  ui/src-tauri/README.md
  ui/src-tauri/build.rs
  ui/src-tauri/icons/icon.png
  ui/src-tauri/src/main.rs
  ui/src-tauri/tauri.conf.json
Due: lint-markdown

docs: initialize documentation site with Zensical
  site/docs/getting-started/index.md
  site/docs/guides/index.md
  site/docs/plugins/index.md
  site/docs/reference/index.md
  site/docs/security/index.md
  site/pyproject.toml
  site/site/.gitkeep
  site/site/404.html
  site/site/assets/images/favicon.png
  site/site/assets/javascripts/LICENSE
  site/site/assets/javascripts/bundle.5fcf0de6.min.js
  site/site/assets/javascripts/workers/search.e2d2d235.min.js
  site/site/assets/stylesheets/classic/main.d9d44b50.min.css
  site/site/assets/stylesheets/classic/palette.7dc9a0ad.min.css
  site/site/assets/stylesheets/modern/main.1e989742.min.css
  site/site/assets/stylesheets/modern/palette.dfe2e883.min.css
  site/site/getting-started/index.html
  site/site/guides/index.html
  site/site/objects.inv
  site/site/plugins/index.html
  site/site/reference/index.html
  site/site/search.json
  site/site/security/index.html
  site/site/sitemap.xml
  site/uv.lock
  site/zensical.toml
Due: lint-markdown

fix: address PR #16 review feedback (critical, important, design gaps)
  .goreleaser.yaml
  Dockerfile
  site/docs/getting-started/index.md
  site/docs/operators/index.md
  site/docs/plugins/index.md
  site/docs/reference/index.md
  site/docs/security/index.md
  site/pyproject.toml
  ui/package-lock.json
  ui/package.json
  ui/src-tauri/src/main.rs
  ui/src-tauri/tauri.conf.json
  ui/src/lib/components/ChatInput.svelte
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/chat.test.ts
  ui/src/lib/stores/sse-parser.ts
  ui/src/routes/plugins/+page.svelte
  ui/src/routes/settings/+page.svelte
  ui/src/routes/workspaces/[id]/+page.svelte
  ui/vite.config.ts
Due: lint-markdown, lint-yaml

fix: address PR #16 review feedback on .goreleaser.yaml
  .goreleaser.yaml
Due: lint-yaml

fix(ui): SSE parser data field stripping per spec
  .gitignore
  .goreleaser.yaml
  ui/src-tauri/src/main.rs
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/chat.test.ts
  ui/src/lib/stores/sse-parser.ts
Due: lint-yaml

feat(ui): add sidecar error visibility with dual approach
  .gitignore
  ui/src-tauri/Cargo.toml
  ui/src-tauri/src/health_check_test.md
  ui/src-tauri/src/main.rs
  ui/src/routes/+layout.svelte
Due: lint-markdown

style(docs): format health check test documentation
  ui/src-tauri/src/health_check_test.md
Due: lint-markdown

docs(claude): merge duplicate session completion sections
  CLAUDE.md
Due: lint-markdown

fix: address PR #16 comprehensive review feedback
  .goreleaser.yaml
  site/docs/operators/index.md
  site/docs/reference/index.md
  site/pyproject.toml
  site/uv.lock
  ui/package-lock.json
  ui/package.json
  ui/src-tauri/src/main.rs
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/chat.test.ts
  ui/src/lib/stores/sse-parser.ts
  ui/src/routes/+layout.svelte
  ui/src/routes/plugins/+page.svelte
  ui/src/routes/workspaces/+page.svelte
Due: lint-markdown, lint-yaml

feat(docs): add some imagery basics
  docs/design/sigil-banner.png
  docs/design/sigil-logo.png
  docs/design/sigil-section-headers.png
  docs/design/sigil-social-card.png
Due: none

fix(ui): address PR #16 comprehensive review — complete Phase 7 fixes
  ui/src-tauri/icons/128x128.png
  ui/src-tauri/icons/128x128@2x.png
  ui/src-tauri/icons/32x32.png
  ui/src-tauri/icons/icon.icns
  ui/src-tauri/icons/icon.ico
  ui/src-tauri/icons/icon.png
  ui/src-tauri/src/main.rs
  ui/src-tauri/tauri.conf.json
  ui/src/lib/stores/chat-store.test.ts
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/chat.test.ts
  ui/src/lib/stores/sse-parser-robustness.test.ts
  ui/src/lib/stores/sse-parser.ts
  ui/src/routes/+layout.svelte
  ui/src/routes/chat/+page.svelte
  ui/src/routes/settings/+page.svelte
  ui/src/routes/workspaces/[id]/+page.svelte
  ui/vitest.config.ts
Due: none

fix(ui): address PR #16 review round 2 — structured logging and error handling
  ui/src-tauri/src/main.rs
  ui/src/lib/logger.ts
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/sse-parser.ts
Due: none

chore(beads): update gitignore
  .beads/.gitignore
Due: none

gitblobstore: put m79sn54otk1uj2rlhl91g5bo06pf3b25.darc.records
  m79sn54otk1uj2rlhl91g5bo06pf3b25.darc.records
Due: none

gitblobstore: put m79sn54otk1uj2rlhl91g5bo06pf3b25.darc.tail
  m79sn54otk1uj2rlhl91g5bo06pf3b25.darc.tail
Due: none

gitblobstore: concatenate m79sn54otk1uj2rlhl91g5bo06pf3b25.darc
  m79sn54otk1uj2rlhl91g5bo06pf3b25.darc
Due: none

gitblobstore: checkandput manifest
  manifest
Due: none

gitblobstore: put emc06b2aav5oe0md9mk8lusc817gti4s.tail
  emc06b2aav5oe0md9mk8lusc817gti4s.tail
Due: none
