Repository sigil-dev/sigil: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: rumdl {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

fix: drop mutex guard before graceful shutdown polling in Tauri stop_sidecar
  ui/src-tauri/src/main.rs
Due: none

fix(sse): stop processing after marshal failure instead of continuing
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

fix(ui): preserve SSE parse errors in chat error handler
  ui/src/lib/stores/chat-store.test.ts
  ui/src/lib/stores/chat.svelte.ts
Due: none

test(sse): add event accumulation overflow protection test
  internal/server/sse_test.go
Due: lint-go

test(proxy): add IP spoofing attack prevention tests
  internal/server/proxy_test.go
Due: lint-go

test(security): enhance audit failure best-effort test coverage
  internal/security/enforcer_test.go
Due: lint-go

test(auth): add malformed token edge case tests
  cmd/sigil/wire_test.go
Due: lint-go

refactor(sse): integrate SSE endpoint with huma native registration
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

test(agent): add provider mid-stream failure health tracking test
  internal/agent/loop_test.go
Due: lint-go

fix: address PR #16 review findings — budget precision, server init, validation
  cmd/openapi-gen/main.go
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/tools_test.go
  internal/config/permissions.go
  internal/provider/google/google.go
  internal/provider/health.go
  internal/provider/registry.go
  internal/provider/registry_test.go
  internal/security/enforcer.go
  internal/server/auth_test.go
  internal/server/ratelimit.go
  internal/server/ratelimit_test.go
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/server/sse.go
  internal/server/sse_internal_test.go
  internal/server/sse_test.go
  internal/server/workspace_auth_test.go
  internal/store/sqlite/gateway_test.go
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/sse-parser.ts
Due: lint-go

refactor: strengthen type invariants across gateway, server, security, and UI
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/security/enforcer.go
  internal/security/enforcer_test.go
  internal/server/server.go
  internal/server/server_test.go
  ui/src/lib/stores/classify-error.test.ts
  ui/src/lib/stores/classify-error.ts
Due: lint-go

refactor: address PR #16 review findings — constructor validation, config separation, comments
  cmd/sigil/wire.go
  internal/agent/loop_test.go
  internal/agent/tools.go
  internal/agent/tools_test.go
  internal/server/ratelimit.go
  internal/server/ratelimit_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: lint-go

refactor: address PR #16 review findings — security, tests, SSE robustness
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/provider/health_test.go
  internal/provider/registry.go
  internal/provider/registry_test.go
  internal/security/capability.go
  internal/security/capability_test.go
  internal/security/enforcer.go
  internal/server/auth_test.go
  internal/server/ratelimit_test.go
  internal/server/server_test.go
  internal/server/sse_test.go
  internal/server/workspace_auth_test.go
  internal/workspace/manager.go
  internal/workspace/manager_test.go
  pkg/errors/errors_test.go
  sigil.yaml.example
  ui/src-tauri/src/main.rs
  ui/src-tauri/tauri.conf.json
  ui/src/lib/components/ChatMessage.svelte
  ui/src/lib/stores/chat-store.test.ts
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/sse-parser-robustness.test.ts
  ui/src/routes/chat/+page.svelte
Due: lint-go

refactor: address PR #16 review findings — event validation, test invariants, docs
  docs/design/10-build-and-distribution.md
  internal/agent/loop.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/server/services.go
  internal/server/workspace_auth_test.go
  pkg/errors/errors.go
Due: lint-go, lint-markdown

fix: add Cosign docker_signs for container image signing
  .goreleaser.yaml
Due: lint-yaml

refactor: address PR #16 review findings — error handling, health tracking, CORS
  cmd/sigil/wire.go
  docs/design/10-build-and-distribution.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/tools.go
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/health.go
  internal/provider/health_test.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/provider/provider_test.go
  internal/server/auth_test.go
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/server/sse_test.go
Due: lint-go, lint-markdown

refactor: address PR #16 review findings — error handling, tests, spec gen
  cmd/openapi-gen/main.go
  cmd/sigil/plugin.go
  cmd/sigil/root.go
  cmd/sigil/start.go
  cmd/sigil/wire.go
  cmd/sigil/workspace.go
  internal/agent/loop_test.go
  internal/config/config_test.go
  ui/src/lib/stores/chat.svelte.ts
Due: lint-go

fix(config): remove SetConfigType to prevent Viper reading binary as YAML
  cmd/sigil/root.go
Due: lint-go

feat(config): auto-bootstrap commented config on first run
  cmd/sigil/root.go
  internal/config/bootstrap.go
  internal/config/sigil.yaml.default
Due: lint-go

chore: add build/ to .gitignore
  .gitignore
Due: none

chore: add .worktrees to gitignore
  .gitignore
Due: none

fix: address PR #16 review findings — cleanup error logging, config stat handling
  cmd/sigil/wire.go
  internal/config/bootstrap.go
Due: lint-go

fix(docs): correct capability and config inaccuracies
  site/docs/reference/index.md
  site/docs/security/index.md
Due: lint-markdown

refactor(ui): use typed API client in ChatStore, remove legacy test file
  ui/src/lib/stores/chat.svelte.ts
  ui/src/lib/stores/chat.test.ts
Due: none

feat(ui): add tier badge to plugin list and resource usage stub in detail modal
  api/openapi/spec.json
  cmd/sigil/wire.go
  internal/server/routes_test.go
  internal/server/services.go
  ui/src/lib/api/generated/schema.d.ts
  ui/src/routes/plugins/+page.svelte
Due: lint-go

fix(docs): nest memory config under sessions in reference page
  site/docs/reference/index.md
Due: lint-markdown

fix(ui): address onboarding wizard review findings
  ui/src/lib/stores/onboarding.svelte.ts
  ui/src/lib/stores/onboarding.test.ts
  ui/src/routes/onboarding/+page.ts
Due: none

feat(ui): implement first-run onboarding wizard
  ui/src/lib/components/onboarding/StepChannel.svelte
  ui/src/lib/components/onboarding/StepDone.svelte
  ui/src/lib/components/onboarding/StepProgress.svelte
  ui/src/lib/components/onboarding/StepProvider.svelte
  ui/src/lib/components/onboarding/StepTestMessage.svelte
  ui/src/routes/+layout.svelte
  ui/src/routes/onboarding/+page.svelte
Due: none

test(tauri): add 22 unit tests for sidecar lifecycle
  ui/src-tauri/src/main.rs
Due: none

feat(ui): configure Tauri auto-updater plugin and signing infrastructure
  ui/src-tauri/Cargo.toml
  ui/src-tauri/tauri.conf.json
Due: none

fix(tauri): gate updater/process plugins with #[cfg(desktop)]
  ui/src-tauri/src/main.rs
Due: none

feat(secrets): implement OS keyring secret storage with keyring:// URI resolution
  go.mod
  go.sum
  internal/config/config.go
  internal/config/sigil.yaml.default
  internal/secrets/keyring.go
  internal/secrets/keyring_test.go
  internal/secrets/resolve.go
  internal/secrets/resolve_test.go
  internal/secrets/secrets.go
  pkg/errors/errors.go
Due: lint-go

feat(tauri): implement system tray with health polling and agent pause toggle
  ui/src-tauri/src/main.rs
Due: none

feat(cli): implement sigil init onboarding wizard with bubbletea TUI
  cmd/sigil/init.go
  cmd/sigil/init_test.go
  cmd/sigil/root.go
Due: lint-go

feat(config): wire onboarding to keyring-backed config and fix init findings
  api/openapi/spec.json
  cmd/sigil/init.go
  cmd/sigil/init_test.go
  cmd/sigil/root.go
  cmd/sigil/secret.go
  cmd/sigil/secret_test.go
  internal/channel/telegram/validate.go
  internal/channel/telegram/validate_test.go
  internal/provider/validate.go
  internal/provider/validate_test.go
  internal/server/config_handlers.go
  internal/server/config_handlers_test.go
  internal/server/server.go
  pkg/errors/errors.go
  ui/src/lib/api/generated/schema.d.ts
  ui/src/lib/stores/onboarding.svelte.ts
  ui/src/lib/stores/onboarding.test.ts
Due: lint-go

feat(hooks): add session memory hooks for beads context across compaction
  .beads/.gitignore
  .claude/hooks/pre-compact.sh
  .claude/hooks/session-end.sh
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

docs(claude): add design docs policy and dual message store notes
  CLAUDE.md
Due: lint-markdown

fix(hooks): harden session hooks against injection and concurrent sessions
  .claude/hooks/pre-compact.sh
  .claude/hooks/session-end.sh
Due: none

feat(hooks): session memory hooks for beads context across compaction (#18)
  .beads/.gitignore
  .claude/hooks/pre-compact.sh
  .claude/hooks/session-end.sh
  .claude/hooks/session-start.sh
  .claude/settings.json
  CLAUDE.md
Due: lint-markdown

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
