Repository sigil-dev/sigil: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
no_auto_install: true
pre-commit:
  parallel: true
  commands:
    license-headers:
      glob: "*.{go,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER not found"; exit 1
        fi
        command -v addlicense >/dev/null 2>&1 || go install github.com/google/addlicense@latest
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true
    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true
    lint-markdown:
      glob: "*.md"
      run: rumdl {staged_files}
    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}
    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    format-check:
      run: dprint check
commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

fix(security): address PR #17 review findings across scanner and agent loop
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/provider/provider.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/sqlite/session.go
  internal/store/types.go
  pkg/types/stage.go
Due: lint-go

fix(security): address 18 PR #17 review findings across scanner, agent loop, and config
  cmd/sigil/init.go
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/scanner_config_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/security/scanner/scanner.go
  internal/store/sqlite/column_validation_test.go
  internal/store/sqlite/session.go
  internal/store/types_validation.go
  pkg/errors/errors.go
  pkg/types/scannermode.go
  sigil.yaml.example
Due: lint-go

docs(decisions): add D063 documenting English-only regex scanner limitation (sigil-7g5.314)
  cmd/sigil/wire.go
  docs/decisions/decision-log.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/scanner_config_test.go
  internal/agent/testhelper_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/types.go
  internal/store/types_test.go
  internal/store/types_validation.go
Due: lint-go, lint-markdown

fix(security): address remaining PR #17 review findings across scanner, agent loop, store, and config
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/config/config.go
  internal/provider/provider_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/sqlite/column_validation_test.go
  internal/store/sqlite/message.go
  internal/store/sqlite/session.go
  internal/store/types.go
  pkg/errors/errors.go
Due: lint-go

docs(decisions): add D064 documenting scanner two-tier content size limits (sigil-7g5.329)
  docs/decisions/decision-log.md
Due: lint-markdown

feat(security): integrate secrets-patterns-db for 883 high-confidence patterns
  .yamlfmt
  cmd/sigil/wire.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/security/scanner/db/rules-stable.yml
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  internal/security/scanner/secretsdb_test.go
  internal/security/scanner/sigil_rules.go
Due: lint-go, lint-yaml

fix(security): address 21 remaining PR #17 review findings across agent loop, scanner, providers, and docs
  cmd/sigil/wire.go
  docs/decisions/decision-log.md
  docs/plans/2026-02-17-agent-loop-security-pipeline.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/agent/tools_test.go
  internal/config/config.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  internal/security/scanner/secretsdb_test.go
  internal/security/scanner/sigil_rules.go
  internal/store/sqlite/message_test.go
  internal/store/sqlite/session.go
  internal/store/types.go
  internal/store/types_validation.go
  pkg/types/scannermode.go
  sigil.yaml.example
Due: lint-go, lint-markdown

revert(docs): restore design doc and revoke D065 self-exception
  docs/decisions/decision-log.md
  docs/design/03-security-model.md
Due: lint-markdown

fix(security): address PR #17 review findings round 2
  api/openapi/spec.json
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/scanner_config_test.go
  internal/agent/testhelper_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/types.go
  internal/store/types_test.go
  internal/store/types_validation.go
Due: lint-go

fix(security): address 42 PR #17 review findings across all packages
  NOTICE
  cmd/sigil/wire.go
  docs/decisions/decision-log.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/scanner_config_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/config/config.go
  internal/config/config_test.go
  internal/provider/provider.go
  internal/security/scanner/db/rules-stable.yml
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  internal/security/scanner/secretsdb_test.go
  internal/server/sse.go
  internal/store/types.go
  internal/store/types_test.go
  internal/store/types_validation.go
Due: lint-go, lint-markdown, lint-yaml

fix(security): address final PR #17 review findings — scanner hardening, circuit breaker refactor, and ThreatInfo constructors
  CLAUDE.md
  docs/decisions/decision-log.md
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/store/types.go
  internal/store/types_test.go
Due: lint-go, lint-markdown

fix(security): address PR #17 review findings — audit semantics, type cleanup, and test coverage
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/scanner_config_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/config/config.go
  internal/provider/anthropic/anthropic_test.go
  internal/provider/anthropic/export_test.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  internal/security/scanner/secretsdb_test.go
  internal/security/scanner/sigil_rules.go
  internal/store/sqlite/session_test.go
Due: lint-go

fix(security): address PR #17 review round 5 — context cancellation, config parsing, logging, and test coverage
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/origin_internal_test.go
  internal/agent/scanner_config.go
  internal/agent/scanner_config_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(security): address PR #17 review round 6 — scanner hardening, validation cleanup, and test coverage
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/testhelper_test.go
  internal/config/config.go
  internal/provider/google/export_test.go
  internal/provider/google/google_test.go
  internal/provider/openai/export_test.go
  internal/provider/openai/openai_test.go
  internal/provider/openrouter/export_test.go
  internal/provider/openrouter/openrouter_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/secretsdb.go
  internal/server/routes.go
  internal/store/sqlite/session_test.go
Due: lint-go

fix(security): address PR #17 review round 7 — circuit breaker scope, dual store, error observability
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/testhelper_test.go
  internal/security/scanner/export_test.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  internal/store/sqlite/message.go
Due: lint-go

fix(security): address PR #17 review round 8 — audit gaps, DoS hardening, and test coverage
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/testhelper_test.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  pkg/types/origin.go
  pkg/types/scannermode.go
Due: lint-go

fix(security): address PR #17 review round 9 — Origin cleanup, slog.With refactor, scanner caching, and test coverage
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/origin_internal_test.go
  internal/agent/scanner_config.go
  internal/provider/anthropic/anthropic_test.go
  internal/provider/google/google_test.go
  internal/provider/openai/openai_test.go
  internal/provider/openrouter/openrouter_test.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  internal/security/scanner/sigil_rules.go
  internal/store/sqlite/column_validation_test.go
  internal/store/sqlite/session.go
  pkg/errors/errors.go
  pkg/types/origin_test.go
Due: lint-go

fix(security): address PR #17 review round 10 — audit dedup, sync.Once removal, and comprehensive test coverage
  docs/plans/2026-02-17-agent-loop-security-pipeline.md
  internal/agent/audit.go
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/agent/tools_test.go
  internal/config/config.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  internal/security/scanner/sigil_rules.go
Due: lint-go, lint-markdown

fix(security): address PR #17 review round 11 — scanBlockedReason rewrite, audit counter consolidation, and scanContent restructure
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/testhelper_test.go
  internal/config/config.go
  internal/security/scanner/scanner.go
  internal/security/scanner/secretsdb.go
Due: lint-go

fix(security): address PR #17 review round 12 — audit completeness, observability, and code dedup
  cmd/sigil/wire_test.go
  internal/agent/export_test.go
  internal/agent/helpers_test.go
  internal/agent/loop.go
  internal/security/scanner/scanner.go
  internal/store/sqlite/session_test.go
  internal/store/types_validation.go
Due: lint-go

fix(security): address PR #17 review round 13 — error handling, observability, and code quality
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/agent/testhelper_test.go
  internal/agent/tools.go
  internal/config/config.go
  internal/secrets/resolve.go
  internal/secrets/resolve_test.go
  internal/security/scanner/secretsdb.go
  internal/store/types.go
  internal/store/types_validation.go
  pkg/errors/errors.go
Due: lint-go

fix(security): address PR #17 review round 14 — error preservation, logging consolidation, and code simplification
  internal/agent/export_test.go
  internal/agent/helpers_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/secrets/resolve.go
  internal/security/scanner/scanner.go
Due: lint-go

fix(security): address PR #17 review round 15 — scanner validation, HTTP status mapping, and structural cleanup
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/security/scanner/export_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  internal/security/scanner/secretsdb.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Due: lint-go

fix(security): address PR #17 review round 16 — audit accuracy, early validation, and structural cleanup
  cmd/sigil/start.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/config/config.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(security): address PR #17 review round 17 — resource leaks, circuit breaker bypass, and scanContent refactor
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/plugin/manager.go
  internal/provider/registry.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(security): address PR #17 review round 18 — observability gaps, nil guard, and provider origin tests
  internal/agent/helpers_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/scanner_config.go
  internal/provider/anthropic/anthropic_test.go
  internal/provider/anthropic/export_test.go
  internal/provider/google/export_test.go
  internal/provider/google/google_test.go
  internal/provider/openai/export_test.go
  internal/provider/openai/openai_test.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/store/sqlite/session_test.go
  internal/store/types.go
  internal/store/types_test.go
Due: lint-go

fix(security): address PR #17 review round 19 — dead code removal, audit observability, and code clarity
  docs/decisions/decision-log.md
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/scanner_config.go
  internal/agent/tools.go
  internal/security/scanner/scanner.go
  internal/security/scanner/secretsdb.go
  internal/store/sqlite/column_validation_test.go
Due: lint-go, lint-markdown

test(security): add log-level escalation assertion and real-scanner cancellation test
  internal/agent/loop_test.go
Due: lint-go

fix(security): address PR #17 review round 20 — DoS hardening, audit accuracy, and scanner coverage
  internal/agent/loop.go
  internal/config/config.go
  internal/security/scanner/scanner.go
  internal/security/scanner/sigil_rules.go
  sigil.yaml.example
Due: lint-go

feat(config): make scanner size constants configurable via security.scanner.limits
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  docs/decisions/decision-log.md
  internal/agent/export_test.go
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/scanner_test.go
  sigil.yaml.example
Due: lint-go, lint-markdown

test(security): address PR #17 review round 21 — test coverage and defensive coding
  cmd/sigil/start.go
  cmd/sigil/start_test.go
  cmd/sigil/wire_test.go
  go.mod
  internal/agent/loop_test.go
  internal/security/scanner/scanner.go
  internal/security/scanner/secretsdb_test.go
Due: lint-go

fix(security): address PR #17 review round 22 — cancellation guard and test coverage
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/security/scanner/scanner_test.go
Due: lint-go

fix(agent): promote blocked_threat log to Error, demote infra failures to Warn
  internal/agent/loop.go
Due: lint-go

fix(server): declare 503 in send-message OpenAPI errors list
  internal/server/routes.go
  internal/server/routes_test.go
Due: lint-go

chore: remove .beads/metadata.json from tracking
  .beads/metadata.json
  .gitignore
Due: none

chore: remove .beads/metadata.json from tracking (#20)
  .beads/metadata.json
  .gitignore
Due: none

fix(server): declare 503 in send-message OpenAPI errors list (#19)
  internal/server/routes.go
  internal/server/routes_test.go
Due: lint-go

fix(server): add SSE default branch warn and error-code HTTP mapping
  internal/server/routes.go
  internal/server/routes_test.go
Due: lint-go

fix(server): use typed error codes for SSE mapping
  internal/server/routes.go
  internal/server/routes_test.go
Due: lint-go
