Repository sigil-dev/sigil: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lint-go:
  run: golangci-lint run --new-from-rev=HEAD~1
  stage_fixed: true

lint-markdown:
  run: rumdl {staged_files}

lint-yaml:
  run: yamlfmt -lint {staged_files}

lint-actions:
  run: actionlint {staged_files}

fix: address PR #16 review round 18 — 25 findings across security, error handling, tests, and hardening
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/config/config.go
  internal/provider/anthropic/anthropic.go
  internal/provider/health_test.go
  internal/provider/registry_test.go
  internal/server/auth.go
  internal/server/auth_test.go
  internal/server/export_test.go
  internal/server/proxy.go
  internal/server/proxy_test.go
  internal/server/ratelimit.go
  internal/server/ratelimit_test.go
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/server/sse_test.go
  internal/server/workspace_auth_test.go
  sigil.yaml.example
  ui/src-tauri/src/main.rs
  ui/src-tauri/tauri.conf.json
  ui/src/lib/components/ChatMessage.svelte
  ui/src/lib/stores/chat.svelte.ts
  ui/src/routes/plugins/+page.svelte
  ui/src/routes/settings/+page.svelte
  ui/src/routes/workspaces/+page.svelte
  ui/src/routes/workspaces/[id]/+page.svelte
Due: lint-go

gitblobstore: put use2dfqjk7gbf6bntj8lunu74i5tmi5g.darc.records
  use2dfqjk7gbf6bntj8lunu74i5tmi5g.darc.records
Due: none

gitblobstore: put use2dfqjk7gbf6bntj8lunu74i5tmi5g.darc.tail
  use2dfqjk7gbf6bntj8lunu74i5tmi5g.darc.tail
Due: none

gitblobstore: concatenate use2dfqjk7gbf6bntj8lunu74i5tmi5g.darc
  use2dfqjk7gbf6bntj8lunu74i5tmi5g.darc
Due: none

gitblobstore: checkandput manifest
  manifest
Due: none

gitblobstore: put aaet5faui3dtdv6as8d6l7sjs28sulqo.tail
  aaet5faui3dtdv6as8d6l7sjs28sulqo.tail
Due: none

gitblobstore: put aaet5faui3dtdv6as8d6l7sjs28sulqo.records
  aaet5faui3dtdv6as8d6l7sjs28sulqo.records
Due: none

gitblobstore: concatenate aaet5faui3dtdv6as8d6l7sjs28sulqo
  aaet5faui3dtdv6as8d6l7sjs28sulqo
Due: none

fix(gateway): close ProviderRegistry to prevent resource leak
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/server/ratelimit.go
  internal/server/routes.go
  internal/server/routes_test.go
Due: lint-go

fix: add bounded event accumulation to SSE JSON responses
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

fix: address PR #16 review round 19 — 15 findings across security, type design, tests, and hardening
  cmd/sigil/start.go
  cmd/sigil/wire.go
  docs/design/03-security-model.md
  docs/plans/04-phase-4-platform-integration.md
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/config/permissions.go
  internal/config/permissions_test.go
  internal/config/permissions_windows.go
  internal/provider/registry.go
  internal/provider/registry_test.go
  internal/server/auth_test.go
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/services.go
  internal/server/services_test.go
  internal/server/sse.go
  internal/server/sse_test.go
  internal/server/workspace_auth_test.go
  ui/src-tauri/src/main.rs
Due: lint-go, lint-markdown

gitblobstore: put odv6nuhcgmvf32lgmtsdfd5uj7fmmdu4.darc.records
  odv6nuhcgmvf32lgmtsdfd5uj7fmmdu4.darc.records
Due: none

gitblobstore: put odv6nuhcgmvf32lgmtsdfd5uj7fmmdu4.darc.tail
  odv6nuhcgmvf32lgmtsdfd5uj7fmmdu4.darc.tail
Due: none

gitblobstore: concatenate odv6nuhcgmvf32lgmtsdfd5uj7fmmdu4.darc
  odv6nuhcgmvf32lgmtsdfd5uj7fmmdu4.darc
Due: none

gitblobstore: put n80006s4sgpmhq57mm607uq9hsot54rd.tail
  n80006s4sgpmhq57mm607uq9hsot54rd.tail
Due: none

gitblobstore: put n80006s4sgpmhq57mm607uq9hsot54rd.records
  n80006s4sgpmhq57mm607uq9hsot54rd.records
Due: none

gitblobstore: concatenate n80006s4sgpmhq57mm607uq9hsot54rd
  n80006s4sgpmhq57mm607uq9hsot54rd
Due: none

gitblobstore: put jg3m5v8luoqcndq4moq4ge6i452rdd2f.darc.records
  jg3m5v8luoqcndq4moq4ge6i452rdd2f.darc.records
Due: none

gitblobstore: put jg3m5v8luoqcndq4moq4ge6i452rdd2f.darc.tail
  jg3m5v8luoqcndq4moq4ge6i452rdd2f.darc.tail
Due: none

gitblobstore: concatenate jg3m5v8luoqcndq4moq4ge6i452rdd2f.darc
  jg3m5v8luoqcndq4moq4ge6i452rdd2f.darc
Due: none

gitblobstore: put 820f08ej0muus6t4u3ahs3ceqtaq8p3q.tail
  820f08ej0muus6t4u3ahs3ceqtaq8p3q.tail
Due: none

gitblobstore: put 820f08ej0muus6t4u3ahs3ceqtaq8p3q.records
  820f08ej0muus6t4u3ahs3ceqtaq8p3q.records
Due: none

gitblobstore: concatenate 820f08ej0muus6t4u3ahs3ceqtaq8p3q
  820f08ej0muus6t4u3ahs3ceqtaq8p3q
Due: none

fix: prevent JSON injection in SSE error payloads
  internal/server/sse.go
  internal/server/sse_test.go
Due: lint-go

fix: address PR #16 review round 20 — 10 findings across security, performance, reliability, and UX
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/plugin/channel_test.go
  internal/server/routes.go
  internal/server/routes_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/server/services.go
  internal/server/services_test.go
  internal/server/workspace_auth_test.go
  internal/store/sqlite/gateway.go
  ui/src-tauri/src/main.rs
  ui/src-tauri/tauri.conf.json
  ui/src/lib/stores/chat.svelte.ts
Due: lint-go

fix: eliminate data race in auditFailCount field
  internal/agent/loop.go
Due: lint-go

fix: replace custom itoa() with strconv.Itoa to prevent integer overflow
  internal/provider/registry.go
Due: lint-go

fix: address PR #16 review round 21 — 12 findings across bugs, security, tests, and reliability
  api/openapi/spec.json
  internal/agent/loop.go
  internal/agent/loop_test.go
  internal/agent/testhelper_test.go
  internal/provider/provider_test.go
  internal/server/auth_test.go
  internal/server/routes.go
  internal/server/server.go
  internal/server/server_test.go
  internal/server/sse.go
  internal/server/sse_test.go
  ui/src-tauri/tauri.conf.json
Due: lint-go

fix: prevent path traversal in Tauri shell scope validator regex
  ui/src-tauri/tauri.conf.json
Due: none

fix: add missing Content-Security-Policy header to security middleware
  internal/server/server.go
  internal/server/server_test.go
Due: lint-go

fix: call Server.Close() in Gateway.Close() to prevent goroutine leak
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
Due: lint-go

fix: add authentication check to gateway status endpoint (sigil-kqd.6)
  api/openapi/spec.json
  internal/server/routes.go
  internal/server/routes_test.go
Due: lint-go

fix: document 401/403/429 response codes for gateway status endpoint (sigil-kqd.55)
  api/openapi/spec.json
  internal/server/routes.go
Due: lint-go

test(ui): add comprehensive validation tests for workspaceId in ChatStore
  ui/src/lib/stores/chat-store.test.ts
Due: none

fix: address PR #16 review round 22 — critical fixes and comprehensive test coverage
  api/openapi/spec.json
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  docs/design/03-security-model.md
  docs/testing/sse-race-tests.md
  internal/server/services.go
  internal/server/services_test.go
  internal/server/sse_test.go
  internal/store/sqlite/gateway_test.go
  pkg/errors/errors.go
  ui/src/lib/stores/chat-store.test.ts
Due: lint-go, lint-markdown

Path conditions:
  lint-go: any of: *.go
  lint-markdown: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
  lint-actions: any of: .github/workflows/*.{yaml,yml}
