Repository sigil-dev/sigil: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-markdown, lint-yaml, lint-actions

lefthook.yaml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
no_auto_install: true
pre-commit:
  parallel: true
  commands:
    license-headers:
      glob: "*.{go,sh,py,proto}"
      exclude: "*.pb.go"
      run: |
        set -euo pipefail
        if [[ ! -f LICENSE_HEADER ]]; then
          echo "ERROR: LICENSE_HEADER not found"; exit 1
        fi
        command -v addlicense >/dev/null 2>&1 || go install github.com/google/addlicense@latest
        addlicense -f LICENSE_HEADER {staged_files}
      stage_fixed: true
    lint-go:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD~1
      stage_fixed: true
    lint-markdown:
      glob: "*.md"
      run: rumdl {staged_files}
    lint-yaml:
      glob: "*.{yaml,yml}"
      run: yamlfmt -lint {staged_files}
    lint-actions:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    format-check:
      run: dprint check
commit-msg:
  commands:
    conventional-commit:
      run: cog verify --file {1}

feat(server): add node rest, status stream, and agent control endpoints
  internal/server/node_routes.go
  internal/server/node_routes_test.go
  internal/server/routes.go
  internal/server/services.go
  internal/server/services_test.go
Due: lint-go

test(node): cover workspace binder dedup and normalization
  internal/node/workspace_test.go
Due: lint-go

docs(plans): add CGo elimination design and implementation plan
  docs/plans/2026-02-21-cgo-elimination-design.md
  docs/plans/2026-02-21-cgo-elimination.md
  lefthook.yaml
Due: lint-markdown, lint-yaml

fix(plugin): address PR #27 review findings (sigil-jp39)
  docs/decisions/decision-log.md
  internal/plugin/container/engine.go
  internal/plugin/container/engine_test.go
  internal/plugin/container/runtime.go
  internal/plugin/container/runtime_test.go
  internal/plugin/manifest.go
  internal/plugin/memory.go
  lefthook.yaml
  pkg/errors/errors.go
Due: lint-go, lint-markdown, lint-yaml

build(deps): swap mattn/go-sqlite3+sqlite-vec for modernc+chromem-go
  go.mod
  go.sum
Due: none

build(deps): promote modernc+chromem-go to direct dependencies
  go.mod
Due: none

fix(plugin): address PR #27 review findings (sigil-jp39)
  internal/plugin/container/engine.go
  internal/plugin/container/engine_test.go
  internal/plugin/container/runtime.go
  internal/plugin/container/runtime_test.go
  internal/plugin/manifest.go
Due: lint-go

refactor(store): replace sqlite-vec VectorStore with chromem-go pure-Go implementation
  internal/store/sqlite/column_validation_test.go
  internal/store/sqlite/gateway.go
  internal/store/sqlite/knowledge.go
  internal/store/sqlite/message.go
  internal/store/sqlite/message_test.go
  internal/store/sqlite/register.go
  internal/store/sqlite/register_test.go
  internal/store/sqlite/session.go
  internal/store/sqlite/session_test.go
  internal/store/sqlite/summary.go
  internal/store/sqlite/vector.go
Due: lint-go

fix(store): use modernc _pragma DSN format for WAL, busy_timeout, foreign_keys
  internal/store/sqlite/gateway.go
  internal/store/sqlite/knowledge.go
  internal/store/sqlite/message.go
  internal/store/sqlite/register.go
  internal/store/sqlite/session.go
  internal/store/sqlite/summary.go
Due: lint-go

test(store): fix modernc DSN format in test files, add VectorStore persistence round-trip test
  internal/store/sqlite/message_test.go
  internal/store/sqlite/session_test.go
  internal/store/sqlite/vector_test.go
Due: lint-go

build: remove CGO_ENABLED=1 from cross-compilation tasks
  Taskfile.yaml
Due: lint-yaml

docs(decisions): record D079 CGO elimination via modernc + chromem-go
  docs/decisions/decision-log.md
Due: lint-markdown

fix(plugin): address PR #27 review findings — container security and correctness
  internal/plugin/container/engine.go
  internal/plugin/container/engine_test.go
  internal/plugin/container/export_test.go
  internal/plugin/container/runtime.go
  internal/plugin/container/runtime_test.go
  internal/plugin/manifest.go
Due: lint-go

fix(plugin): address PR #27 review findings (sigil-jp39.57–jp39.64)
  internal/plugin/container/engine.go
  internal/plugin/container/engine_test.go
  internal/plugin/container/runtime_test.go
  internal/plugin/memory.go
Due: lint-go

test(plugin): address PR #27 review findings — test coverage and error quality (sigil-jp39.73–jp39.81)
  internal/plugin/container/engine.go
  internal/plugin/container/engine_test.go
  internal/plugin/container/runtime_test.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
Due: lint-go

chore: beads update
  .beads/.gitignore
  .beads/hooks/commit-msg
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-commit.old
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .claude/.gitignore
  .gitignore
Due: none

chore: beads update (#34)
  .beads/.gitignore
  .beads/hooks/commit-msg
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-commit.old
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .claude/.gitignore
  .gitignore
Due: none

fix(plugin): address PR #27 review findings — error handling, dedup, and test gaps (sigil-jp39.98–jp39.104)
  docs/decisions/decision-log.md
  internal/plugin/container/engine_test.go
  internal/plugin/container/runtime.go
  internal/plugin/container/runtime_test.go
  internal/plugin/image.go
  internal/plugin/manifest.go
Due: lint-go, lint-markdown

fix(plugin): address PR #27 review findings — error wrapping, observability, and test coverage (sigil-jp39.108–jp39.114)
  internal/plugin/container/runtime.go
  internal/plugin/container/runtime_test.go
  internal/plugin/manifest.go
Due: lint-go

fix(plugin): address PR #27 review findings — validation, error preservation, and test coverage (sigil-jp39.122–jp39.133)
  internal/plugin/container/engine.go
  internal/plugin/container/engine_test.go
  internal/plugin/container/runtime.go
  internal/plugin/container/runtime_test.go
  internal/plugin/manifest.go
Due: lint-go

feat(plugin): implement Phase 6 Task 3 container execution tier (#27)
  docs/decisions/decision-log.md
  internal/plugin/container/engine.go
  internal/plugin/container/engine_test.go
  internal/plugin/container/export_test.go
  internal/plugin/container/runtime.go
  internal/plugin/container/runtime_test.go
  internal/plugin/image.go
  internal/plugin/manifest.go
  internal/plugin/manifest_test.go
  internal/plugin/memory.go
  lefthook.yaml
  pkg/errors/errors.go
Due: lint-go, lint-markdown, lint-yaml

fix: address remaining kqd review findings (235, 237, 260, 300, 307)
  .goreleaser.yaml
  .yamlfmt
  CLAUDE.md
  Dockerfile
  docs/decisions/decision-log.md
  docs/plans/phase6-context-reset-handoff.md
  dprint.json
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/health.go
  internal/provider/health_metrics_test.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/provider/provider.go
  internal/server/provider_health_test.go
  internal/server/routes.go
  internal/server/services.go
  ui/src-tauri/src/main.rs
  ui/src-tauri/tauri.conf.json
  ui/src/lib/api/client.test.ts
  ui/src/lib/api/client.ts
Due: lint-go, lint-markdown, lint-yaml

fix: address PR #28 review findings from sigil-cv7y epic
  Dockerfile
  cmd/sigil/wire.go
  docs/decisions/decision-log.md
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/health.go
  internal/provider/health_metrics_test.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/server/provider_health_test.go
  internal/server/services.go
  pkg/health/health.go
Due: lint-go, lint-markdown

style: apply auto-formatting from task fmt
  internal/agent/export_test.go
  internal/agent/loop_test.go
  internal/config/config.go
  internal/node/manager.go
  internal/provider/provider.go
  internal/security/scanner/mode_test.go
  internal/security/scanner/scanner.go
  internal/server/auth_test.go
  internal/server/chat_ratelimit_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/server/sse_test.go
  internal/server/workspace_auth_test.go
  pkg/errors/errors.go
  pkg/types/scannermode.go
Due: lint-go

fix: address PR #28 review findings from sigil-cv7y turn 2
  CLAUDE.md
  api/proto/plugin/v1/provider.proto
  cmd/sigil/wire.go
  docs/decisions/decision-log.md
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/health.go
  internal/provider/health_metrics_test.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
  internal/server/provider_health_test.go
Due: lint-go, lint-markdown

fix: wrap GetHealth error with sigilerr + add Health assertions to provider tests
  cmd/sigil/wire.go
  internal/provider/anthropic/anthropic_test.go
  internal/provider/google/google_test.go
  internal/provider/health.go
  internal/provider/openai/openai_test.go
  internal/provider/openrouter/openrouter_test.go
Due: lint-go

fix(provider): use m.Available instead of h.healthy for CooldownUntil guard
  internal/provider/health.go
  internal/provider/health_metrics_test.go
Due: lint-go

test: add provider adapter, NewServices variadic, and validateApiUrl tests
  cmd/sigil/wire_test.go
  internal/server/services_test.go
  ui/src/lib/api/client.test.ts
  ui/src/lib/api/client.ts
Due: lint-go

fix(provider): address PR #28 review findings from sigil-cv7y turn 3
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/provider/anthropic/anthropic.go
  internal/provider/google/google.go
  internal/provider/openai/openai.go
  internal/provider/openrouter/openrouter.go
Due: lint-go

fix(provider): address PR #28 review findings from sigil-cv7y turn 4
  internal/provider/anthropic/anthropic_test.go
  internal/provider/google/google_test.go
  internal/provider/openai/openai_test.go
  internal/provider/openrouter/openrouter_test.go
  internal/server/provider_health_test.go
  internal/server/routes.go
  internal/server/services.go
  internal/server/services_test.go
  pkg/health/health.go
  ui/src/lib/api/client.test.ts
  ui/src/lib/api/client.ts
Due: lint-go

fix(provider): address PR #28 review findings from sigil-cv7y turn 4
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/provider/health_metrics_test.go
  internal/server/provider_health_test.go
Due: lint-go

fix(provider): address PR #28 review findings from sigil-cv7y turn 5
  cmd/sigil/wire.go
  internal/server/routes.go
  ui/src/lib/api/client.test.ts
  ui/src/lib/api/client.ts
Due: lint-go

refactor(provider): extract providerLookup interface for testability
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
Due: lint-go

fix(provider): address PR #28 review findings from sigil-cv7y turn 5
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  docs/plans/phase6-context-reset-handoff.md
  internal/provider/health_metrics_test.go
  internal/server/provider_health_test.go
  internal/server/services.go
  ui/src/lib/api/client.test.ts
Due: lint-go, lint-markdown

fix(server): address PR #28 review findings from sigil-cv7y turn 6
  cmd/sigil/wire_test.go
  internal/server/provider_health_test.go
  internal/server/routes.go
  internal/server/services.go
Due: lint-go

test(provider): strengthen concurrent FailureCount lower-bound assertion
  internal/provider/health_metrics_test.go
Due: lint-go

fix(server): surface sigilerr on return path in handleGetProviderHealth
  internal/server/routes.go
Due: lint-go

test(provider): assert LastFailureAt in Status_AfterFailure tests
  internal/provider/anthropic/anthropic_test.go
  internal/provider/google/google_test.go
  internal/provider/openai/openai_test.go
  internal/provider/openrouter/openrouter_test.go
Due: lint-go

test(server): add HTTP-layer test for MetricsAvailable=false path
  internal/server/provider_health_test.go
Due: lint-go

fix: address PR #28 review findings from sigil-cv7y turn 7
  cmd/sigil/wire.go
  cmd/sigil/wire_test.go
  internal/provider/health_metrics_test.go
  internal/server/provider_health_test.go
  internal/server/routes.go
  ui/src/lib/api/client.ts
Due: lint-go
